.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.footer-logo{
    align-items: center;
    display: flex;
    gap: 20px;
}
.footer-logo p{
    font-size: 44px;
    columns: #383838;
    font-weight: 600;
}
.footer-links{
    display: flex;
    list-style: none;
    font-size: 22px;
    gap: 60px;
    color: #252525;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    cursor: pointer;
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #1a1a1a;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    background: #c7c7c7;
    height: 3px;
    border-radius: 10px;
}